body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
  }

.container {
  position: relative;
  top: 90px;
  max-width: 350px;
  margin: 10px auto;
  padding: 20px;
  background-color: #222;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideIn 1s forwards; /* Menambahkan animasi slideIn */
}

@keyframes slideIn {
  from {
    transform: translateY(100%); /* Mengubah nilai translateX menjadi translateY */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* Mengubah nilai translateX menjadi translateY */
    opacity: 1;
  }
}
  .container p {
    color: #ccc;
    margin-bottom: 10px; /* Menambahkan margin bawah pada paragraf */
  }

  .developer-info {
    display: flex;
    align-items: center;
  }

  .developer-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  h1 {
    text-align: center;
  }

  .contact-button {
    margin-top: 10px; /* Mengurangi margin atas pada tombol */
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
